/*places section stylesheet*/

.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    width: 100%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}